openapi: 3.1.0
info:
  title: Competition Host Streaming API
  version: 0.1.0
  description: >
    Stateless Go service that exposes REST + SSE endpoints so hosts can configure
    cups/tournaments and observe attendance + matchmaking changes in real time.
servers:
  - url: https://api.winspire.gg/competition-host-stream
paths:
  /v1/hosts/{hostId}/cups/{cupId}:
    get:
      summary: Fetch host-facing Cup projection
      tags: [CupHostView]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - $ref: '#/components/parameters/CupId'
      responses:
        '200':
          description: Cup projection with attendance + dependency status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CupHostView'
    patch:
      summary: Update Cup blueprint metadata before start
      tags: [CupHostView]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - $ref: '#/components/parameters/CupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stageStatuses:
                  description: Override stage ordering or activation windows
                  type: array
                  items:
                    $ref: '#/components/schemas/StageStatus'
                dependencyOverrides:
                  description: Explicitly mark supplier readiness (e.g., manual waiver)
                  type: array
                  items:
                    $ref: '#/components/schemas/DependencyHealth'
                attendanceTargets:
                  description: Host-defined attendance thresholds per stage
                  type: array
                  items:
                    $ref: '#/components/schemas/AttendanceTarget'
      responses:
        '202':
          description: Update accepted; projections refresh asynchronously
  /v1/hosts/{hostId}/tournaments/{tournamentId}:
    get:
      summary: Fetch tournament view with seeding + lineup status
      tags: [TournamentHostView]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - $ref: '#/components/parameters/TournamentId'
      responses:
        '200':
          description: Tournament projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentHostView'
    patch:
      summary: Apply seeding or lineup decisions
      tags: [TournamentHostView]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - $ref: '#/components/parameters/TournamentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seedingWindow:
                  $ref: '#/components/schemas/SeedingWindow'
                lineupDirectives:
                  type: array
                  items:
                    $ref: '#/components/schemas/LineupDirective'
                allowedActionsOverrides:
                  type: array
                  description: Force-enable or disable `AllowedTournamentAction` entries
                  items:
                    $ref: '#/components/schemas/AllowedActionOverride'
      responses:
        '202':
          description: Update accepted
  /v1/hosts/{hostId}/tournaments/{tournamentId}/matches:
    get:
      summary: List match lobby projections
      tags: [MatchLobbyView]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - $ref: '#/components/parameters/TournamentId'
      responses:
        '200':
          description: Collection of match lobby views
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MatchLobbyView'
  /v1/hosts/{hostId}/streams/{scopeType}/{scopeId}:
    get:
      summary: Subscribe to SSE stream for a cup/tournament/match
      tags: [Streaming]
      parameters:
        - $ref: '#/components/parameters/HostId'
        - name: scopeType
          in: path
          required: true
          schema:
            type: string
            enum: [cup, tournament, match]
        - name: scopeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lastEventId
          in: header
          required: false
          schema:
            type: string
            description: Cursor for replay (SSE Last-Event-ID)
      responses:
        '200':
          description: Text/event-stream feed
          content:
            text/event-stream:
              schema:
                type: string
                description: >
                  SSE frames containing `event`, `id`, `data` (JSON matching the scope view).
components:
  parameters:
    HostId:
      name: hostId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CupId:
      name: cupId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TournamentId:
      name: tournamentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    StageStatus:
      type: object
      required: [stageId, status]
      properties:
        stageId:
          type: string
          format: uuid
        status:
          type: string
          enum: [DRAFT, READY, LIVE, COMPLETE, BLOCKED]
        plannedStartAt:
          type: string
          format: date-time
        plannedEndAt:
          type: string
          format: date-time
    DependencyHealth:
      type: object
      required: [supplier, state]
      properties:
        supplier:
          type: string
          enum: [tournamentLifecycle, matchLifecycle, participationEligibility, broadcast]
        state:
          type: string
          enum: [green, yellow, red]
        notes:
          type: string
    AttendanceTarget:
      type: object
      required: [stageId, minimumConfirmed]
      properties:
        stageId:
          type: string
          format: uuid
        minimumConfirmed:
          type: integer
          minimum: 0
    CupHostView:
      type: object
      properties:
        cupId:
          type: string
          format: uuid
        competitionContextId:
          type: string
          format: uuid
        stageStatuses:
          type: array
          items:
            $ref: '#/components/schemas/StageStatus'
        attendance:
          type: object
          properties:
            total:
              type: integer
            confirmed:
              type: integer
            waitlisted:
              type: integer
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/DependencyHealth'
        updatedAt:
          type: string
          format: date-time
    TournamentHostView:
      type: object
      properties:
        tournamentId:
          type: string
          format: uuid
        cupId:
          type: string
          format: uuid
          nullable: true
        settingsHash:
          type: string
        lineupStatus:
          type: array
          items:
            $ref: '#/components/schemas/LineupStatus'
        seedingWindow:
          $ref: '#/components/schemas/SeedingWindow'
        matchGate:
          $ref: '#/components/schemas/MatchGate'
        updatedAt:
          type: string
          format: date-time
    LineupStatus:
      type: object
      properties:
        lineupId:
          type: string
          format: uuid
        confirmed:
          type: boolean
        allowedActions:
          type: array
          items:
            type: string
    SeedingWindow:
      type: object
      properties:
        opensAt:
          type: string
          format: date-time
        closesAt:
          type: string
          format: date-time
    MatchGate:
      type: object
      properties:
        readyForMatch:
          type: boolean
        blockedReason:
          type: string
          nullable: true
    LineupDirective:
      type: object
      required: [lineupId, action]
      properties:
        lineupId:
          type: string
          format: uuid
        action:
          type: string
          enum: [CONFIRM, REVOKE, FORCE_WITHDRAW]
        note:
          type: string
    AllowedActionOverride:
      type: object
      properties:
        lineupId:
          type: string
          format: uuid
        action:
          type: string
        enabled:
          type: boolean
    MatchLobbyView:
      type: object
      properties:
        matchId:
          type: string
          format: uuid
        tournamentId:
          type: string
          format: uuid
        lobbyInformation:
          type: object
          properties:
            maximumLobbyMinutes:
              type: integer
            maximumGoToGameMinutes:
              type: integer
            gameSessionTag:
              type: string
        queueState:
          type: object
          properties:
            offerId:
              type: string
              format: uuid
            status:
              type: string
              enum: [OPEN, ACCEPTED, PLAYING, COMPLETE]
        updatedAt:
          type: string
          format: date-time




